azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.37.4.10188",
      "templateHash": "18350007618377245450"
    }
  },
  "parameters": {
    "environment": {
      "type": "string",
      "minLength": 2,
      "maxLength": 10,
      "metadata": {
        "description": "Environment name — used in resource naming (e.g. dev, staging, prod, uat, sandbox)"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "westeurope",
      "metadata": {
        "description": "Azure region for resource deployment"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "defaultValue": "[format('rg-finops-governance-{0}', parameters('environment'))]",
      "metadata": {
        "description": "Resource group for FinOps governance resources"
      }
    },
    "finopsEmail": {
      "type": "string",
      "metadata": {
        "description": "FinOps team email for alert routing"
      }
    },
    "teamsWebhookUri": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "Teams incoming webhook URL for budget alert channel"
      }
    },
    "defaultBudgetAmount": {
      "type": "int",
      "defaultValue": 100,
      "metadata": {
        "description": "Default budget amount for new resource groups (EUR)"
      }
    },
    "subscriptionBudgetAmount": {
      "type": "int",
      "defaultValue": 10000,
      "metadata": {
        "description": "Monthly subscription-level budget (EUR)"
      }
    },
    "tags": {
      "type": "object",
      "defaultValue": {
        "finops-platform": "budget-alerts-automation",
        "managed-by": "finops-iac",
        "environment": "[parameters('environment')]",
        "Owner": "FinOps-Team",
        "CostCenter": "HybridCloud-FinOps"
      },
      "metadata": {
        "description": "Tags to apply to all resources"
      }
    },
    "enableAmortizedPipeline": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Enable amortized cost pipeline (Function App, Log Analytics, Alert Rules, Workbook)"
      }
    },
    "enableAutoBudget": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Enable auto-budget Logic App for new RG creation"
      }
    },
    "enableSelfServiceChange": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Enable self-service budget change Logic App"
      }
    },
    "enablePolicy": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Enable policy definition and assignment (requires Resource Policy Contributor)"
      }
    },
    "enableRbacAssignment": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Enable RBAC role assignments for Logic App managed identities (requires User Access Administrator)"
      }
    },
    "functionAppKey": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "Function App host key for Cosmos sync from budget-change Logic App (set post-deploy)"
      }
    },
    "budgetStartDate": {
      "type": "string",
      "defaultValue": "2026-04-01T00:00:00Z",
      "metadata": {
        "description": "Budget start date (first of current month). Once a budget is created, the start date cannot be changed — delete and recreate instead."
      }
    },
    "costTrackingScope": {
      "type": "string",
      "defaultValue": "both",
      "allowedValues": [
        "resourceGroup",
        "subscription",
        "both"
      ],
      "metadata": {
        "description": "Cost tracking scope: resourceGroup (per-RG only), subscription (sub-level only), or both (RG + subscription rollup)"
      }
    },
    "actionGroupNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Action Group (leave blank for default: ag-finops-budget-alerts)"
      }
    },
    "cosmosAccountNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Cosmos DB account (leave blank for auto-generated unique name)"
      }
    },
    "storageAccountNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Storage Account (leave blank for auto-generated unique name)"
      }
    },
    "functionAppNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Function App (leave blank for auto-generated unique name)"
      }
    },
    "logicAppAutoBudgetNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Auto-Budget Logic App (leave blank for default: la-finops-auto-budget)"
      }
    },
    "logicAppBudgetChangeNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Budget Change Logic App (leave blank for default: la-finops-budget-change)"
      }
    },
    "logicAppBackfillNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Backfill Logic App (leave blank for default: la-finops-backfill)"
      }
    },
    "lawNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Log Analytics workspace (leave blank for default: law-finops-budget)"
      }
    },
    "workbookNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Workbook (leave blank for default: FinOps Budget Compliance Dashboard)"
      }
    },
    "alertHeadUpNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the HeadUp alert rule (leave blank for default: finops-alert-headup)"
      }
    },
    "alertWarningNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Warning alert rule (leave blank for default: finops-alert-warning)"
      }
    },
    "alertCriticalNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the Critical alert rule (leave blank for default: finops-alert-critical)"
      }
    },
    "postDeployIdentityNameOverride": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Custom name for the post-deploy managed identity (leave blank for default: id-finops-post-deploy)"
      }
    },
    "enablePrivateNetworking": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "Enable private networking — deploys VNet, private endpoints for Cosmos DB & Storage, and Function App VNet integration"
      }
    },
    "enablePostDeploy": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Enable post-deploy automation script (code deploy + kickstart). Disable if subscription has restrictive storage key policies — use CI/CD instead."
      }
    },
    "vnetName": {
      "type": "string",
      "defaultValue": "vnet-finops-governance",
      "metadata": {
        "description": "VNet name (only used when enablePrivateNetworking = true)"
      }
    },
    "vnetAddressPrefix": {
      "type": "string",
      "defaultValue": "10.100.0.0/24",
      "metadata": {
        "description": "VNet address space (only used when enablePrivateNetworking = true)"
      }
    }
  },
  "variables": {
    "actionGroupName": "[if(empty(parameters('actionGroupNameOverride')), 'ag-finops-budget-alerts', parameters('actionGroupNameOverride'))]",
    "cosmosAccountName": "[if(empty(parameters('cosmosAccountNameOverride')), format('cosmos-finops-{0}', uniqueString(subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName')))), parameters('cosmosAccountNameOverride'))]",
    "storageAccountComputedName": "[if(empty(parameters('storageAccountNameOverride')), format('sa{0}{1}', parameters('environment'), uniqueString(subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName')), subscription().subscriptionId)), parameters('storageAccountNameOverride'))]",
    "functionAppComputedName": "[if(empty(parameters('functionAppNameOverride')), format('func-finops-amortized-{0}', uniqueString(subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName')))), parameters('functionAppNameOverride'))]",
    "logicAppAutoBudgetName": "[if(empty(parameters('logicAppAutoBudgetNameOverride')), 'la-finops-auto-budget', parameters('logicAppAutoBudgetNameOverride'))]",
    "logicAppBudgetChangeName": "[if(empty(parameters('logicAppBudgetChangeNameOverride')), 'la-finops-budget-change', parameters('logicAppBudgetChangeNameOverride'))]",
    "logicAppBackfillName": "[if(empty(parameters('logicAppBackfillNameOverride')), 'la-finops-backfill', parameters('logicAppBackfillNameOverride'))]",
    "lawWorkspaceName": "[if(empty(parameters('lawNameOverride')), 'law-finops-budget', parameters('lawNameOverride'))]",
    "workbookDisplayName": "[if(empty(parameters('workbookNameOverride')), 'FinOps Budget Compliance Dashboard', parameters('workbookNameOverride'))]",
    "alertHeadUpName": "[if(empty(parameters('alertHeadUpNameOverride')), 'finops-alert-headup', parameters('alertHeadUpNameOverride'))]",
    "alertWarningName": "[if(empty(parameters('alertWarningNameOverride')), 'finops-alert-warning', parameters('alertWarningNameOverride'))]",
    "alertCriticalName": "[if(empty(parameters('alertCriticalNameOverride')), 'finops-alert-critical', parameters('alertCriticalNameOverride'))]",
    "postDeployIdentityName": "[if(empty(parameters('postDeployIdentityNameOverride')), 'id-finops-post-deploy', parameters('postDeployIdentityNameOverride'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Resources/resourceGroups",
      "apiVersion": "2024-03-01",
      "name": "[parameters('resourceGroupName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]"
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-action-group",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "Global"
          },
          "actionGroupName": {
            "value": "[variables('actionGroupName')]"
          },
          "finopsEmail": {
            "value": "[parameters('finopsEmail')]"
          },
          "teamsWebhookUri": {
            "value": "[parameters('teamsWebhookUri')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "1222847847721409938"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "defaultValue": "Global"
            },
            "actionGroupName": {
              "type": "string",
              "defaultValue": "ag-finops-budget-alerts"
            },
            "shortName": {
              "type": "string",
              "defaultValue": "FinOpsBgt"
            },
            "finopsEmail": {
              "type": "string",
              "metadata": {
                "description": "FinOps team email(s) — comma-separated for multiple recipients (e.g. \"team@org.com,lead@org.com\")"
              }
            },
            "teamsWebhookUri": {
              "type": "securestring",
              "defaultValue": ""
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            }
          },
          "variables": {
            "copy": [
              {
                "name": "emailReceivers",
                "count": "[length(variables('emailList'))]",
                "input": {
                  "name": "[format('finops-recipient-{0}', add(copyIndex('emailReceivers'), 1))]",
                  "emailAddress": "[variables('emailList')[copyIndex('emailReceivers')]]",
                  "useCommonAlertSchema": true
                }
              }
            ],
            "enableTeams": "[not(empty(parameters('teamsWebhookUri')))]",
            "emailList": "[split(replace(parameters('finopsEmail'), ' ', ''), ',')]"
          },
          "resources": [
            {
              "type": "Microsoft.Insights/actionGroups",
              "apiVersion": "2023-01-01",
              "name": "[parameters('actionGroupName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "groupShortName": "[parameters('shortName')]",
                "enabled": true,
                "emailReceivers": "[variables('emailReceivers')]",
                "webhookReceivers": "[if(variables('enableTeams'), createArray(createObject('name', 'teams-finops-budget-alerts', 'serviceUri', parameters('teamsWebhookUri'), 'useCommonAlertSchema', true())), createArray())]",
                "armRoleReceivers": [
                  {
                    "name": "subscription-contributors",
                    "roleId": "b24988ac-6180-42a0-ab88-20f7382dd24c",
                    "useCommonAlertSchema": true
                  }
                ]
              }
            }
          ],
          "outputs": {
            "actionGroupId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Insights/actionGroups', parameters('actionGroupName'))]"
            },
            "actionGroupName": {
              "type": "string",
              "value": "[parameters('actionGroupName')]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "[format('deploy-subscription-budget-{0}', parameters('location'))]",
      "location": "[deployment().location]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "budgetName": {
            "value": "[format('finops-sub-budget-{0}', parameters('environment'))]"
          },
          "budgetAmount": {
            "value": "[parameters('subscriptionBudgetAmount')]"
          },
          "scope": {
            "value": "subscription"
          },
          "finopsEmail": {
            "value": "[parameters('finopsEmail')]"
          },
          "actionGroupId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-action-group'), '2022-09-01').outputs.actionGroupId.value]"
          },
          "startDate": {
            "value": "[parameters('budgetStartDate')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "17378177549791879760"
            }
          },
          "parameters": {
            "budgetName": {
              "type": "string",
              "metadata": {
                "description": "Budget name"
              }
            },
            "budgetAmount": {
              "type": "int",
              "metadata": {
                "description": "Monthly budget amount in billing currency"
              }
            },
            "scope": {
              "type": "string",
              "defaultValue": "subscription",
              "allowedValues": [
                "subscription",
                "resourceGroup"
              ],
              "metadata": {
                "description": "Scope: subscription or resourceGroup"
              }
            },
            "resourceGroupName": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Resource group name (required if scope is resourceGroup)"
              }
            },
            "finopsEmail": {
              "type": "string",
              "metadata": {
                "description": "FinOps team email"
              }
            },
            "ownerEmail": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "RG owner email (for per-threshold routing)"
              }
            },
            "buLeadEmail": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "BU lead email (added at 75%+)"
              }
            },
            "actionGroupId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Action Group resource ID"
              }
            },
            "startDate": {
              "type": "string",
              "metadata": {
                "description": "Budget start date (YYYY-MM-01 format). Once created, this cannot change — delete and recreate the budget to use a different start date."
              }
            },
            "endDate": {
              "type": "string",
              "defaultValue": "2027-12-31T00:00:00Z",
              "metadata": {
                "description": "Budget end date"
              }
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            }
          },
          "variables": {
            "ownerOnly": "[if(empty(parameters('ownerEmail')), createArray(parameters('finopsEmail')), createArray(parameters('ownerEmail')))]",
            "ownerPlusBuLead": "[if(empty(parameters('buLeadEmail')), variables('ownerOnly'), concat(variables('ownerOnly'), createArray(parameters('buLeadEmail'))))]",
            "allContacts": "[union(variables('ownerPlusBuLead'), createArray(parameters('finopsEmail')))]",
            "actionGroupArray": "[if(empty(parameters('actionGroupId')), createArray(), createArray(parameters('actionGroupId')))]"
          },
          "resources": [
            {
              "type": "Microsoft.Consumption/budgets",
              "apiVersion": "2023-11-01",
              "name": "[parameters('budgetName')]",
              "properties": {
                "category": "Cost",
                "amount": "[parameters('budgetAmount')]",
                "timeGrain": "Monthly",
                "timePeriod": {
                  "startDate": "[parameters('startDate')]",
                  "endDate": "[parameters('endDate')]"
                },
                "notifications": {
                  "Actual_GreaterThan_50": {
                    "enabled": true,
                    "operator": "GreaterThan",
                    "threshold": 50,
                    "thresholdType": "Actual",
                    "contactEmails": "[variables('ownerOnly')]",
                    "contactGroups": []
                  },
                  "Actual_GreaterThan_75": {
                    "enabled": true,
                    "operator": "GreaterThan",
                    "threshold": 75,
                    "thresholdType": "Actual",
                    "contactEmails": "[variables('ownerPlusBuLead')]",
                    "contactGroups": "[variables('actionGroupArray')]"
                  },
                  "Forecasted_GreaterThan_90": {
                    "enabled": true,
                    "operator": "GreaterThan",
                    "threshold": 90,
                    "thresholdType": "Forecasted",
                    "contactEmails": "[variables('allContacts')]",
                    "contactGroups": "[variables('actionGroupArray')]"
                  },
                  "Actual_GreaterThan_100": {
                    "enabled": true,
                    "operator": "GreaterThan",
                    "threshold": 100,
                    "thresholdType": "Actual",
                    "contactEmails": "[variables('allContacts')]",
                    "contactGroups": "[variables('actionGroupArray')]"
                  },
                  "Forecasted_GreaterThan_110": {
                    "enabled": true,
                    "operator": "GreaterThan",
                    "threshold": 110,
                    "thresholdType": "Forecasted",
                    "contactEmails": "[variables('allContacts')]",
                    "contactGroups": "[variables('actionGroupArray')]"
                  }
                }
              }
            }
          ],
          "outputs": {
            "budgetId": {
              "type": "string",
              "value": "[subscriptionResourceId('Microsoft.Consumption/budgets', parameters('budgetName'))]"
            },
            "budgetName": {
              "type": "string",
              "value": "[parameters('budgetName')]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-action-group')]"
      ]
    },
    {
      "condition": "[parameters('enablePolicy')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "[format('deploy-policy-definition-{0}', parameters('location'))]",
      "location": "[deployment().location]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "environment": {
            "value": "[parameters('environment')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "4115552860985602913"
            }
          },
          "parameters": {
            "environment": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/policyDefinitions",
              "apiVersion": "2021-06-01",
              "name": "finops-audit-rg-without-budget",
              "properties": {
                "displayName": "FinOps: Audit Resource Groups Without Budget",
                "description": "Flags resource groups that do not have a Microsoft.Consumption/budgets resource. FinOps baseline requirement for cost governance.",
                "policyType": "Custom",
                "mode": "All",
                "metadata": {
                  "category": "FinOps",
                  "version": "1.0.0",
                  "environment": "[parameters('environment')]"
                },
                "parameters": {
                  "effect": {
                    "type": "String",
                    "metadata": {
                      "displayName": "Effect",
                      "description": "AuditIfNotExists flags non-compliance without blocking."
                    },
                    "allowedValues": [
                      "AuditIfNotExists",
                      "Disabled"
                    ],
                    "defaultValue": "AuditIfNotExists"
                  }
                },
                "policyRule": {
                  "if": {
                    "field": "type",
                    "equals": "Microsoft.Resources/subscriptions/resourceGroups"
                  },
                  "then": {
                    "effect": "[[parameters('effect')]",
                    "details": {
                      "type": "Microsoft.Consumption/budgets",
                      "existenceCondition": {
                        "field": "Microsoft.Consumption/budgets/amount",
                        "greater": 0
                      }
                    }
                  }
                }
              }
            }
          ],
          "outputs": {
            "policyDefinitionId": {
              "type": "string",
              "value": "[subscriptionResourceId('Microsoft.Authorization/policyDefinitions', 'finops-audit-rg-without-budget')]"
            },
            "policyDefinitionName": {
              "type": "string",
              "value": "finops-audit-rg-without-budget"
            }
          }
        }
      }
    },
    {
      "condition": "[parameters('enablePolicy')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "[format('deploy-policy-assignment-{0}', parameters('location'))]",
      "location": "[deployment().location]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "policyDefinitionId": {
            "value": "[reference(subscriptionResourceId('Microsoft.Resources/deployments', format('deploy-policy-definition-{0}', parameters('location'))), '2022-09-01').outputs.policyDefinitionId.value]"
          },
          "environment": {
            "value": "[parameters('environment')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "17685903338165919547"
            }
          },
          "parameters": {
            "policyDefinitionId": {
              "type": "string"
            },
            "environment": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/policyAssignments",
              "apiVersion": "2022-06-01",
              "name": "[format('finops-audit-rg-budgets-{0}', parameters('environment'))]",
              "properties": {
                "displayName": "[format('FinOps: Audit RGs Without Budget ({0})', parameters('environment'))]",
                "policyDefinitionId": "[parameters('policyDefinitionId')]",
                "enforcementMode": "Default",
                "metadata": {
                  "category": "FinOps",
                  "environment": "[parameters('environment')]"
                }
              }
            }
          ],
          "outputs": {
            "assignmentId": {
              "type": "string",
              "value": "[subscriptionResourceId('Microsoft.Authorization/policyAssignments', format('finops-audit-rg-budgets-{0}', parameters('environment')))]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/deployments', format('deploy-policy-definition-{0}', parameters('location')))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-storage-account",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "environment": {
            "value": "[parameters('environment')]"
          },
          "storageAccountName": {
            "value": "[variables('storageAccountComputedName')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "8565267838737156694"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "environment": {
              "type": "string"
            },
            "storageAccountName": {
              "type": "string",
              "defaultValue": "[format('sa{0}{1}', parameters('environment'), uniqueString(resourceGroup().id, subscription().subscriptionId))]"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            }
          },
          "resources": [
            {
              "type": "Microsoft.Storage/storageAccounts",
              "apiVersion": "2023-05-01",
              "name": "[parameters('storageAccountName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "StorageV2",
              "sku": {
                "name": "Standard_LRS"
              },
              "properties": {
                "minimumTlsVersion": "TLS1_2",
                "supportsHttpsTrafficOnly": true,
                "allowBlobPublicAccess": false,
                "accessTier": "Hot"
              }
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}', parameters('storageAccountName'), 'default')]",
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}/{2}', parameters('storageAccountName'), 'default', 'amortized-cost-exports')]",
              "properties": {
                "publicAccess": "None"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccountName'), 'default')]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}/{2}', parameters('storageAccountName'), 'default', 'finance-budgets')]",
              "properties": {
                "publicAccess": "None"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccountName'), 'default')]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}/{2}', parameters('storageAccountName'), 'default', 'function-releases')]",
              "properties": {
                "publicAccess": "None"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccountName'), 'default')]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/tableServices",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}', parameters('storageAccountName'), 'default')]",
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Storage/storageAccounts/tableServices/tables",
              "apiVersion": "2023-05-01",
              "name": "[format('{0}/{1}/{2}', parameters('storageAccountName'), 'default', 'finopsInventory')]",
              "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/tableServices', parameters('storageAccountName'), 'default')]"
              ]
            }
          ],
          "outputs": {
            "storageAccountName": {
              "type": "string",
              "value": "[parameters('storageAccountName')]"
            },
            "storageAccountId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
            },
            "blobEndpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2023-05-01').primaryEndpoints.blob]"
            },
            "tableEndpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2023-05-01').primaryEndpoints.table]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-cosmos-db",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "cosmosAccountName": {
            "value": "[variables('cosmosAccountName')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "17106577621929068151"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "cosmosAccountName": {
              "type": "string",
              "defaultValue": "cosmos-finops-inventory"
            },
            "databaseName": {
              "type": "string",
              "defaultValue": "finops"
            },
            "containerName": {
              "type": "string",
              "defaultValue": "inventory"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            }
          },
          "resources": [
            {
              "type": "Microsoft.DocumentDB/databaseAccounts",
              "apiVersion": "2024-11-15",
              "name": "[parameters('cosmosAccountName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('finops-component', 'inventory-store'))]",
              "kind": "GlobalDocumentDB",
              "properties": {
                "databaseAccountOfferType": "Standard",
                "capabilities": [
                  {
                    "name": "EnableServerless"
                  }
                ],
                "locations": [
                  {
                    "locationName": "[parameters('location')]",
                    "failoverPriority": 0,
                    "isZoneRedundant": false
                  }
                ],
                "consistencyPolicy": {
                  "defaultConsistencyLevel": "Session"
                },
                "enableFreeTier": false,
                "enableMultipleWriteLocations": false,
                "publicNetworkAccess": "Enabled",
                "minimalTlsVersion": "Tls12"
              }
            },
            {
              "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases",
              "apiVersion": "2024-11-15",
              "name": "[format('{0}/{1}', parameters('cosmosAccountName'), parameters('databaseName'))]",
              "properties": {
                "resource": {
                  "id": "[parameters('databaseName')]"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
              "apiVersion": "2024-11-15",
              "name": "[format('{0}/{1}/{2}', parameters('cosmosAccountName'), parameters('databaseName'), parameters('containerName'))]",
              "properties": {
                "resource": {
                  "id": "[parameters('containerName')]",
                  "partitionKey": {
                    "paths": [
                      "/subscriptionId"
                    ],
                    "kind": "Hash"
                  },
                  "indexingPolicy": {
                    "indexingMode": "consistent",
                    "automatic": true,
                    "includedPaths": [
                      {
                        "path": "/*"
                      }
                    ],
                    "excludedPaths": [
                      {
                        "path": "/\"_etag\"/?"
                      }
                    ]
                  },
                  "defaultTtl": -1
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('cosmosAccountName'), parameters('databaseName'))]"
              ]
            }
          ],
          "outputs": {
            "cosmosAccountName": {
              "type": "string",
              "value": "[parameters('cosmosAccountName')]"
            },
            "cosmosEndpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosAccountName')), '2024-11-15').documentEndpoint]"
            },
            "cosmosDatabaseName": {
              "type": "string",
              "value": "[parameters('databaseName')]"
            },
            "cosmosContainerName": {
              "type": "string",
              "value": "[parameters('containerName')]"
            },
            "cosmosAccountId": {
              "type": "string",
              "value": "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosAccountName'))]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-log-analytics",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "workspaceName": {
            "value": "[variables('lawWorkspaceName')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "4929194845419963222"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "workspaceName": {
              "type": "string",
              "defaultValue": "law-finops-budget"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "retentionInDays": {
              "type": "int",
              "defaultValue": 30,
              "metadata": {
                "description": "Retention in days (30 = free tier)"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.OperationalInsights/workspaces",
              "apiVersion": "2023-09-01",
              "name": "[parameters('workspaceName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('finops-component', 'analytics-workspace'))]",
              "properties": {
                "sku": {
                  "name": "PerGB2018"
                },
                "retentionInDays": "[parameters('retentionInDays')]",
                "publicNetworkAccessForIngestion": "Enabled",
                "publicNetworkAccessForQuery": "Enabled"
              }
            }
          ],
          "outputs": {
            "workspaceId": {
              "type": "string",
              "value": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]"
            },
            "workspaceName": {
              "type": "string",
              "value": "[parameters('workspaceName')]"
            },
            "customerId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName')), '2023-09-01').customerId]"
            },
            "primarySharedKey": {
              "type": "string",
              "value": "[listKeys(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName')), '2023-09-01').primarySharedKey]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-alert-rules",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "workspaceId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics'), '2022-09-01').outputs.workspaceId.value]"
          },
          "actionGroupId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-action-group'), '2022-09-01').outputs.actionGroupId.value]"
          },
          "alertHeadUpName": {
            "value": "[variables('alertHeadUpName')]"
          },
          "alertWarningName": {
            "value": "[variables('alertWarningName')]"
          },
          "alertCriticalName": {
            "value": "[variables('alertCriticalName')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "7451338357341176863"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "workspaceId": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics workspace resource ID"
              }
            },
            "actionGroupId": {
              "type": "string",
              "metadata": {
                "description": "Action Group resource ID for alert routing"
              }
            },
            "alertHeadUpName": {
              "type": "string",
              "defaultValue": "finops-alert-headup"
            },
            "alertWarningName": {
              "type": "string",
              "defaultValue": "finops-alert-warning"
            },
            "alertCriticalName": {
              "type": "string",
              "defaultValue": "finops-alert-critical"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[parameters('alertHeadUpName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('finops-component', 'alert-headup'))]",
              "properties": {
                "displayName": "FinOps HeadUp — RGs at 60%+ budget utilization",
                "description": "Resource groups where amortized spend has reached 60% of budget. Early awareness for FinOps team.",
                "severity": 3,
                "enabled": true,
                "skipQueryValidation": true,
                "evaluationFrequency": "PT1H",
                "windowSize": "PT1H",
                "scopes": [
                  "[parameters('workspaceId')]"
                ],
                "criteria": {
                  "allOf": [
                    {
                      "query": "            FinOpsInventory_CL\r\n            | where actualPct_d >= 60 and actualPct_d < 80\r\n            | where complianceStatus_s != \"critical\"\r\n            | project resourceGroup_s, actualPct_d, forecastPct_d, amortizedMTD_d, technicalBudget_d, complianceStatus_s, TimeGenerated\r\n            | order by actualPct_d desc\r\n          ",
                      "timeAggregation": "Count",
                      "operator": "GreaterThan",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                }
              }
            },
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[parameters('alertWarningName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('finops-component', 'alert-warning'))]",
              "properties": {
                "displayName": "FinOps Warning — RGs at 80%+ budget utilization",
                "description": "Resource groups where amortized spend has reached 80% of budget. Action needed to prevent overspend.",
                "severity": 2,
                "enabled": true,
                "skipQueryValidation": true,
                "evaluationFrequency": "PT1H",
                "windowSize": "PT1H",
                "scopes": [
                  "[parameters('workspaceId')]"
                ],
                "criteria": {
                  "allOf": [
                    {
                      "query": "            FinOpsInventory_CL\r\n            | where actualPct_d >= 80 and actualPct_d < 95\r\n            | project resourceGroup_s, actualPct_d, forecastPct_d, amortizedMTD_d, technicalBudget_d, complianceStatus_s, TimeGenerated\r\n            | order by actualPct_d desc\r\n          ",
                      "timeAggregation": "Count",
                      "operator": "GreaterThan",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                }
              }
            },
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[parameters('alertCriticalName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('finops-component', 'alert-critical'))]",
              "properties": {
                "displayName": "FinOps Critical — RGs at 95%+ budget utilization",
                "description": "Resource groups where amortized spend has reached 95% of budget. Immediate action required.",
                "severity": 1,
                "enabled": true,
                "skipQueryValidation": true,
                "evaluationFrequency": "PT1H",
                "windowSize": "PT1H",
                "scopes": [
                  "[parameters('workspaceId')]"
                ],
                "criteria": {
                  "allOf": [
                    {
                      "query": "            FinOpsInventory_CL\r\n            | where actualPct_d >= 95\r\n            | project resourceGroup_s, actualPct_d, forecastPct_d, amortizedMTD_d, technicalBudget_d, complianceStatus_s, TimeGenerated\r\n            | order by actualPct_d desc\r\n          ",
                      "timeAggregation": "Count",
                      "operator": "GreaterThan",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                }
              }
            }
          ],
          "outputs": {
            "alertHeadUpId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Insights/scheduledQueryRules', parameters('alertHeadUpName'))]"
            },
            "alertWarningId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Insights/scheduledQueryRules', parameters('alertWarningName'))]"
            },
            "alertCriticalId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Insights/scheduledQueryRules', parameters('alertCriticalName'))]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-action-group')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-workbook",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "workspaceResourceId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics'), '2022-09-01').outputs.workspaceId.value]"
          },
          "workbookName": {
            "value": "[variables('workbookDisplayName')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "workbookName": {
              "type": "string",
              "defaultValue": "FinOps Budget Compliance Dashboard"
            },
            "location": {
              "type": "string",
              "defaultValue": "eastus"
            },
            "workspaceResourceId": {
              "type": "string",
              "metadata": {
                "description": "Resource ID of the Log Analytics workspace containing FinOpsInventory_CL"
              }
            }
          },
          "variables": {
            "workbookId": "[guid('finops-budget-dashboard', resourceGroup().id)]",
            "kqlSubscriptionSummary": "FinOpsInventory_CL | where scope_s == 'subscription' or resourceGroup_s == '_subscription_rollup' | summarize arg_max(TimeGenerated, *) | project SubscriptionBudget=technicalBudget_d, AmortizedMTD=amortizedMTD_d, ForecastEOM=forecastEOM_d, BudgetUsed=actualPct_d, ForecastPct=forecastPct_d, Status=complianceStatus_s, TotalRGs=totalResourceGroups_d, LastEvaluated=lastEvaluated_s",
            "kqlCompliancePie": "FinOpsInventory_CL | where resourceGroup_s != '_subscription_rollup' and isnotempty(resourceGroup_s) | summarize arg_max(TimeGenerated, *) by resourceGroup_s | summarize Count=count() by complianceStatus_s | order by Count desc",
            "kqlInventoryGrid": "FinOpsInventory_CL | where resourceGroup_s != '_subscription_rollup' and isnotempty(resourceGroup_s) | summarize arg_max(TimeGenerated, *) by resourceGroup_s | project ResourceGroup=resourceGroup_s, Budget=technicalBudget_d, SpendMTD=amortizedMTD_d, Forecast=forecastEOM_d, UsedPct=actualPct_d, ForecastPct=forecastPct_d, Status=complianceStatus_s, Tier=spendTier_s, Owner=ownerEmail_s, CostCenter=costCenter_s, LastEvaluated=lastEvaluated_s | order by UsedPct desc",
            "kqlTopSpenders": "FinOpsInventory_CL | where resourceGroup_s != '_subscription_rollup' and isnotempty(resourceGroup_s) | summarize arg_max(TimeGenerated, *) by resourceGroup_s | top 10 by amortizedMTD_d desc | project ResourceGroup=resourceGroup_s, SpendMTD=amortizedMTD_d, Budget=technicalBudget_d, UsedPct=actualPct_d, Status=complianceStatus_s",
            "kqlVarianceReport": "FinOpsInventory_CL | where resourceGroup_s != '_subscription_rollup' and isnotempty(resourceGroup_s) | summarize arg_max(TimeGenerated, *) by resourceGroup_s | where financeBudget_d > 0 or technicalBudget_d > 0 | extend FinanceVariance = amortizedMTD_d - financeBudget_d, TechVariance = amortizedMTD_d - technicalBudget_d | project ResourceGroup=resourceGroup_s, FinanceBudget=financeBudget_d, TechBudget=technicalBudget_d, SpendMTD=amortizedMTD_d, FinanceVariance, TechVariance, Status=complianceStatus_s | order by FinanceVariance desc",
            "kqlBurnRate": "FinOpsInventory_CL | where resourceGroup_s != '_subscription_rollup' and isnotempty(resourceGroup_s) | summarize arg_max(TimeGenerated, *) by resourceGroup_s | where burnRateDaily_d > 0 | project ResourceGroup=resourceGroup_s, DailyBurn=burnRateDaily_d, MonthlyProjection=burnRateDaily_d*30, Budget=technicalBudget_d, DaysToExhaust=iff(burnRateDaily_d>0, (technicalBudget_d-amortizedMTD_d)/burnRateDaily_d, 999.0) | order by DaysToExhaust asc"
          },
          "resources": [
            {
              "type": "Microsoft.Insights/workbooks",
              "apiVersion": "2022-04-01",
              "name": "[variables('workbookId')]",
              "location": "[parameters('location')]",
              "kind": "shared",
              "properties": {
                "displayName": "[parameters('workbookName')]",
                "category": "FinOps",
                "sourceId": "[parameters('workspaceResourceId')]",
                "serializedData": "[concat('{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":{\"json\":\"# FinOps Budget Compliance Dashboard\\n\\nReal-time amortized cost tracking powered by Log Analytics (FinOpsInventory_CL). Data refreshes after each daily evaluation (06:00 UTC) and on-demand triggers.\"},\"name\":\"title\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"', variables('kqlSubscriptionSummary'), '\",\"size\":4,\"title\":\"Subscription Summary\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"crossComponentResources\":[\"', parameters('workspaceResourceId'), '\"],\"visualization\":\"tiles\",\"tileSettings\":{\"showBorder\":true}},\"name\":\"subscription-summary\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"', variables('kqlCompliancePie'), '\",\"size\":2,\"title\":\"Compliance Status Distribution\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"crossComponentResources\":[\"', parameters('workspaceResourceId'), '\"],\"visualization\":\"piechart\"},\"name\":\"compliance-pie\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"', variables('kqlTopSpenders'), '\",\"size\":0,\"title\":\"Top 10 Spenders (by Amortized MTD)\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"crossComponentResources\":[\"', parameters('workspaceResourceId'), '\"],\"visualization\":\"barchart\"},\"name\":\"top-spenders\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"', variables('kqlInventoryGrid'), '\",\"size\":0,\"title\":\"Full Inventory - All Resource Groups\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"crossComponentResources\":[\"', parameters('workspaceResourceId'), '\"],\"visualization\":\"table\",\"gridSettings\":{\"sortBy\":[{\"itemKey\":\"UsedPct\",\"sortOrder\":2}]}},\"name\":\"inventory-grid\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"', variables('kqlVarianceReport'), '\",\"size\":0,\"title\":\"Finance vs Technical Budget Variance\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"crossComponentResources\":[\"', parameters('workspaceResourceId'), '\"],\"visualization\":\"table\"},\"name\":\"variance-report\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"', variables('kqlBurnRate'), '\",\"size\":0,\"title\":\"Burn Rate Analysis - Days to Budget Exhaustion\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"crossComponentResources\":[\"', parameters('workspaceResourceId'), '\"],\"visualization\":\"table\",\"gridSettings\":{\"sortBy\":[{\"itemKey\":\"DaysToExhaust\",\"sortOrder\":1}]}},\"name\":\"burn-rate\"}],\"isLocked\":false}')]"
              },
              "tags": {
                "finops-platform": "budget-alerts-automation",
                "managed-by": "microsoft-csa"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "condition": "[parameters('enableAutoBudget')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-auto-budget-logic-app",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "logicAppName": {
            "value": "[variables('logicAppAutoBudgetName')]"
          },
          "finopsEmail": {
            "value": "[parameters('finopsEmail')]"
          },
          "defaultBudgetAmount": {
            "value": "[parameters('defaultBudgetAmount')]"
          },
          "teamsWebhookUri": {
            "value": "[parameters('teamsWebhookUri')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          },
          "enableRbacAssignment": {
            "value": "[parameters('enableRbacAssignment')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "15783089834367630473"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "logicAppName": {
              "type": "string",
              "defaultValue": "la-finops-auto-budget"
            },
            "finopsEmail": {
              "type": "string"
            },
            "defaultBudgetAmount": {
              "type": "int",
              "defaultValue": 100
            },
            "teamsWebhookUri": {
              "type": "securestring",
              "defaultValue": ""
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "enableRbacAssignment": {
              "type": "bool",
              "defaultValue": true,
              "metadata": {
                "description": "Set to false if deployer lacks User Access Administrator role"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[parameters('logicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('finops-component', 'auto-budget'))]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "finopsEmail": {
                      "type": "String",
                      "defaultValue": "[parameters('finopsEmail')]"
                    },
                    "defaultBudgetAmount": {
                      "type": "Int",
                      "defaultValue": "[parameters('defaultBudgetAmount')]"
                    },
                    "teamsWebhookUri": {
                      "type": "SecureString",
                      "defaultValue": "[parameters('teamsWebhookUri')]"
                    }
                  },
                  "triggers": {
                    "manual": {
                      "type": "Request",
                      "kind": "Http",
                      "inputs": {
                        "schema": {
                          "type": "object",
                          "properties": {
                            "subject": {
                              "type": "string"
                            },
                            "eventType": {
                              "type": "string"
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "resourceUri": {
                                  "type": "string"
                                },
                                "subscriptionId": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "actions": {
                    "Parse_Event": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@if(equals(string(triggerBody()?['subject']), ''), triggerBody()[0], triggerBody())",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "subject": {
                              "type": "string"
                            },
                            "eventType": {
                              "type": "string"
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "resourceUri": {
                                  "type": "string"
                                },
                                "subscriptionId": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {}
                    },
                    "Extract_RG_Name": {
                      "type": "Compose",
                      "inputs": "@last(split(body('Parse_Event')?['subject'], '/'))",
                      "runAfter": {
                        "Parse_Event": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Extract_Sub_Id": {
                      "type": "Compose",
                      "inputs": "@split(body('Parse_Event')?['subject'], '/')[2]",
                      "runAfter": {
                        "Parse_Event": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Check_Budget_Exists": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://management.azure.com/subscriptions/@{outputs('Extract_Sub_Id')}/resourceGroups/@{outputs('Extract_RG_Name')}/providers/Microsoft.Consumption/budgets?api-version=2023-11-01",
                        "authentication": {
                          "type": "ManagedServiceIdentity"
                        }
                      },
                      "runAfter": {
                        "Extract_RG_Name": [
                          "Succeeded"
                        ],
                        "Extract_Sub_Id": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Create_If_Missing": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@length(body('Check_Budget_Exists')?['value'])",
                              0
                            ]
                          }
                        ]
                      },
                      "runAfter": {
                        "Check_Budget_Exists": [
                          "Succeeded"
                        ]
                      },
                      "actions": {
                        "Create_Budget": {
                          "type": "Http",
                          "inputs": {
                            "method": "PUT",
                            "uri": "https://management.azure.com/subscriptions/@{outputs('Extract_Sub_Id')}/resourceGroups/@{outputs('Extract_RG_Name')}/providers/Microsoft.Consumption/budgets/finops-rg-budget-@{outputs('Extract_RG_Name')}?api-version=2023-11-01",
                            "authentication": {
                              "type": "ManagedServiceIdentity"
                            },
                            "body": {
                              "properties": {
                                "category": "Cost",
                                "amount": "@parameters('defaultBudgetAmount')",
                                "timeGrain": "Monthly",
                                "timePeriod": {
                                  "startDate": "@{formatDateTime(startOfMonth(utcNow()), 'yyyy-MM-ddTHH:mm:ssZ')}",
                                  "endDate": "2027-03-31T00:00:00Z"
                                },
                                "notifications": {
                                  "Forecasted_90": {
                                    "enabled": true,
                                    "operator": "GreaterThan",
                                    "threshold": 90,
                                    "thresholdType": "Forecasted",
                                    "contactEmails": [
                                      "@parameters('finopsEmail')"
                                    ]
                                  },
                                  "Actual_100": {
                                    "enabled": true,
                                    "operator": "GreaterThan",
                                    "threshold": 100,
                                    "thresholdType": "Actual",
                                    "contactEmails": [
                                      "@parameters('finopsEmail')"
                                    ]
                                  },
                                  "Forecasted_110": {
                                    "enabled": true,
                                    "operator": "GreaterThan",
                                    "threshold": 110,
                                    "thresholdType": "Forecasted",
                                    "contactEmails": [
                                      "@parameters('finopsEmail')"
                                    ]
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {}
                        },
                        "Notify_Teams": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@parameters('teamsWebhookUri')",
                            "body": {
                              "text": "**[FinOps Auto-Budget]** Budget EUR @{parameters('defaultBudgetAmount')} created for RG: **@{outputs('Extract_RG_Name')}**"
                            }
                          },
                          "runAfter": {
                            "Create_Budget": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      }
                    }
                  },
                  "outputs": {}
                }
              }
            },
            {
              "condition": "[parameters('enableRbacAssignment')]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), 'CostManagementContributor')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '434105ed-43f6-45c7-a02f-909b2ba83430')]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
              ]
            }
          ],
          "outputs": {
            "logicAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            },
            "principalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "condition": "[parameters('enableSelfServiceChange')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-budget-change-logic-app",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "logicAppName": {
            "value": "[variables('logicAppBudgetChangeName')]"
          },
          "finopsEmail": {
            "value": "[parameters('finopsEmail')]"
          },
          "teamsWebhookUri": {
            "value": "[parameters('teamsWebhookUri')]"
          },
          "functionAppName": "[if(parameters('enableAmortizedPipeline'), createObject('value', reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app'), '2022-09-01').outputs.functionAppName.value), createObject('value', ''))]",
          "functionAppKey": {
            "value": "[parameters('functionAppKey')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          },
          "enableRbacAssignment": {
            "value": "[parameters('enableRbacAssignment')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "2719909455722615271"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "logicAppName": {
              "type": "string",
              "defaultValue": "la-finops-budget-change"
            },
            "finopsEmail": {
              "type": "string"
            },
            "teamsWebhookUri": {
              "type": "securestring",
              "defaultValue": ""
            },
            "functionAppKey": {
              "type": "securestring",
              "defaultValue": "",
              "metadata": {
                "description": "Function App host key for /api/update-budget"
              }
            },
            "functionAppName": {
              "type": "string",
              "defaultValue": ""
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "enableRbacAssignment": {
              "type": "bool",
              "defaultValue": true,
              "metadata": {
                "description": "Set to false if deployer lacks User Access Administrator role"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[parameters('logicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('finops-component', 'budget-change'))]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "finopsEmail": {
                      "type": "String",
                      "defaultValue": "[parameters('finopsEmail')]"
                    },
                    "teamsWebhookUri": {
                      "type": "SecureString",
                      "defaultValue": "[parameters('teamsWebhookUri')]"
                    },
                    "functionAppKey": {
                      "type": "SecureString",
                      "defaultValue": "[parameters('functionAppKey')]"
                    },
                    "functionAppName": {
                      "type": "String",
                      "defaultValue": "[parameters('functionAppName')]"
                    }
                  },
                  "triggers": {
                    "manual": {
                      "type": "Request",
                      "kind": "Http",
                      "inputs": {
                        "schema": {
                          "type": "object",
                          "required": [
                            "subscriptionId",
                            "resourceGroupName",
                            "newBudgetAmount",
                            "reason",
                            "requestorEmail"
                          ],
                          "properties": {
                            "subscriptionId": {
                              "type": "string"
                            },
                            "resourceGroupName": {
                              "type": "string"
                            },
                            "newBudgetAmount": {
                              "type": "integer",
                              "minimum": 100
                            },
                            "reason": {
                              "type": "string"
                            },
                            "requestorEmail": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "actions": {
                    "Validate_Floor": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "less": [
                              "@triggerBody()?['newBudgetAmount']",
                              100
                            ]
                          }
                        ]
                      },
                      "runAfter": {},
                      "actions": {
                        "Reject_Below_Floor": {
                          "type": "Response",
                          "inputs": {
                            "statusCode": 400,
                            "body": {
                              "error": "Budget must be at least EUR 100",
                              "requested": "@triggerBody()?['newBudgetAmount']"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Get_Current_Budget": {
                            "type": "Http",
                            "inputs": {
                              "method": "GET",
                              "uri": "https://management.azure.com/subscriptions/@{triggerBody()?['subscriptionId']}/resourceGroups/@{triggerBody()?['resourceGroupName']}/providers/Microsoft.Consumption/budgets?api-version=2023-11-01",
                              "authentication": {
                                "type": "ManagedServiceIdentity"
                              }
                            },
                            "runAfter": {}
                          },
                          "Extract_Current": {
                            "type": "Compose",
                            "inputs": "@if(greater(length(body('Get_Current_Budget')?['value']), 0), body('Get_Current_Budget')?['value'][0]?['properties']?['amount'], 100)",
                            "runAfter": {
                              "Get_Current_Budget": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Extract_Name": {
                            "type": "Compose",
                            "inputs": "@if(greater(length(body('Get_Current_Budget')?['value']), 0), body('Get_Current_Budget')?['value'][0]?['name'], concat('finops-rg-budget-', triggerBody()?['resourceGroupName']))",
                            "runAfter": {
                              "Get_Current_Budget": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Validate_Cap": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "greater": [
                                    "@triggerBody()?['newBudgetAmount']",
                                    "@mul(outputs('Extract_Current'), 3)"
                                  ]
                                }
                              ]
                            },
                            "runAfter": {
                              "Extract_Current": [
                                "Succeeded"
                              ],
                              "Extract_Name": [
                                "Succeeded"
                              ]
                            },
                            "actions": {
                              "Reject_Over_Cap": {
                                "type": "Response",
                                "inputs": {
                                  "statusCode": 400,
                                  "body": {
                                    "error": "Exceeds 3x cap. Max: EUR @{mul(outputs('Extract_Current'), 3)}",
                                    "current": "@outputs('Extract_Current')"
                                  }
                                }
                              }
                            },
                            "else": {
                              "actions": {
                                "Update_Budget": {
                                  "type": "Http",
                                  "inputs": {
                                    "method": "PUT",
                                    "uri": "https://management.azure.com/subscriptions/@{triggerBody()?['subscriptionId']}/resourceGroups/@{triggerBody()?['resourceGroupName']}/providers/Microsoft.Consumption/budgets/@{outputs('Extract_Name')}?api-version=2023-11-01",
                                    "authentication": {
                                      "type": "ManagedServiceIdentity"
                                    },
                                    "body": {
                                      "properties": {
                                        "category": "Cost",
                                        "amount": "@triggerBody()?['newBudgetAmount']",
                                        "timeGrain": "Monthly",
                                        "timePeriod": {
                                          "startDate": "@{formatDateTime(startOfMonth(utcNow()), 'yyyy-MM-ddTHH:mm:ssZ')}",
                                          "endDate": "2027-03-31T00:00:00Z"
                                        },
                                        "notifications": {
                                          "Forecasted_90": {
                                            "enabled": true,
                                            "operator": "GreaterThan",
                                            "threshold": 90,
                                            "thresholdType": "Forecasted",
                                            "contactEmails": [
                                              "@{triggerBody()?['requestorEmail']}",
                                              "@parameters('finopsEmail')"
                                            ]
                                          },
                                          "Actual_100": {
                                            "enabled": true,
                                            "operator": "GreaterThan",
                                            "threshold": 100,
                                            "thresholdType": "Actual",
                                            "contactEmails": [
                                              "@{triggerBody()?['requestorEmail']}",
                                              "@parameters('finopsEmail')"
                                            ]
                                          },
                                          "Forecasted_110": {
                                            "enabled": true,
                                            "operator": "GreaterThan",
                                            "threshold": 110,
                                            "thresholdType": "Forecasted",
                                            "contactEmails": [
                                              "@{triggerBody()?['requestorEmail']}",
                                              "@parameters('finopsEmail')"
                                            ]
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "runAfter": {}
                                },
                                "Update_Cosmos_Inventory": {
                                  "type": "Http",
                                  "inputs": {
                                    "method": "POST",
                                    "uri": "https://@{parameters('functionAppName')}.azurewebsites.net/api/update-budget?code=@{parameters('functionAppKey')}",
                                    "body": {
                                      "subscriptionId": "@triggerBody()?['subscriptionId']",
                                      "resourceGroupName": "@triggerBody()?['resourceGroupName']",
                                      "newBudgetAmount": "@triggerBody()?['newBudgetAmount']",
                                      "requestorEmail": "@triggerBody()?['requestorEmail']",
                                      "reason": "@triggerBody()?['reason']"
                                    }
                                  },
                                  "runAfter": {
                                    "Update_Budget": [
                                      "Succeeded"
                                    ]
                                  }
                                },
                                "Notify_Teams": {
                                  "type": "Http",
                                  "inputs": {
                                    "method": "POST",
                                    "uri": "@parameters('teamsWebhookUri')",
                                    "body": {
                                      "text": "**[FinOps Budget Changed]** RG: **@{triggerBody()?['resourceGroupName']}** EUR @{outputs('Extract_Current')} → EUR @{triggerBody()?['newBudgetAmount']} | By: @{triggerBody()?['requestorEmail']} | Reason: @{triggerBody()?['reason']}"
                                    }
                                  },
                                  "runAfter": {
                                    "Update_Cosmos_Inventory": [
                                      "Succeeded"
                                    ]
                                  }
                                },
                                "Success_Response": {
                                  "type": "Response",
                                  "inputs": {
                                    "statusCode": 200,
                                    "body": {
                                      "status": "success",
                                      "resourceGroup": "@triggerBody()?['resourceGroupName']",
                                      "oldBudget": "@outputs('Extract_Current')",
                                      "newBudget": "@triggerBody()?['newBudgetAmount']"
                                    }
                                  },
                                  "runAfter": {
                                    "Notify_Teams": [
                                      "Succeeded"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "outputs": {}
                }
              }
            },
            {
              "condition": "[parameters('enableRbacAssignment')]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), 'CostManagementContributor-change')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '434105ed-43f6-45c7-a02f-909b2ba83430')]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
              ]
            }
          ],
          "outputs": {
            "logicAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            },
            "triggerUrl": {
              "type": "string",
              "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'manual'), '2019-05-01').value]"
            },
            "principalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "condition": "[and(parameters('enableAmortizedPipeline'), parameters('enableAutoBudget'))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-backfill-logic-app",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "logicAppName": {
            "value": "[variables('logicAppBackfillName')]"
          },
          "functionAppName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app'), '2022-09-01').outputs.functionAppName.value]"
          },
          "subscriptionId": {
            "value": "[subscription().subscriptionId]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          },
          "enableRbacAssignment": {
            "value": "[parameters('enableRbacAssignment')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "7741796670446416859"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "logicAppName": {
              "type": "string",
              "defaultValue": "la-finops-backfill"
            },
            "functionAppName": {
              "type": "string"
            },
            "subscriptionId": {
              "type": "string",
              "defaultValue": "[subscription().subscriptionId]"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "enableRbacAssignment": {
              "type": "bool",
              "defaultValue": true,
              "metadata": {
                "description": "Set to false if deployer lacks User Access Administrator role"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[parameters('logicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('finops-component', 'backfill-scheduler'))]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "functionBaseUrl": {
                      "type": "String",
                      "defaultValue": "[format('https://{0}', reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01').defaultHostName)]"
                    },
                    "functionKey": {
                      "type": "SecureString",
                      "defaultValue": ""
                    },
                    "subscriptionId": {
                      "type": "String",
                      "defaultValue": "[parameters('subscriptionId')]"
                    }
                  },
                  "triggers": {
                    "Daily_Backfill": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "schedule": {
                          "hours": [
                            "7"
                          ],
                          "minutes": [
                            30
                          ]
                        },
                        "timeZone": "UTC"
                      }
                    }
                  },
                  "actions": {
                    "Scan_RGs": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@{parameters('functionBaseUrl')}/api/backfill?subscriptionId=@{parameters('subscriptionId')}&dryRun=true&code=@{parameters('functionKey')}"
                      },
                      "runAfter": {}
                    },
                    "Check_Pending": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@body('Scan_RGs')?['processed']",
                              0
                            ]
                          }
                        ]
                      },
                      "runAfter": {
                        "Scan_RGs": [
                          "Succeeded"
                        ]
                      },
                      "actions": {
                        "Execute_Backfill": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "@{parameters('functionBaseUrl')}/api/backfill?subscriptionId=@{parameters('subscriptionId')}&dryRun=false&code=@{parameters('functionKey')}"
                          },
                          "runAfter": {}
                        },
                        "Log_Results": {
                          "type": "Compose",
                          "inputs": {
                            "backfillCompleted": true,
                            "processedCount": "@body('Execute_Backfill')?['processed']",
                            "timestamp": "@utcNow()"
                          },
                          "runAfter": {
                            "Execute_Backfill": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "No_Action_Needed": {
                            "type": "Compose",
                            "inputs": {
                              "message": "All RGs already have budgets — no backfill needed",
                              "timestamp": "@utcNow()"
                            },
                            "runAfter": {}
                          }
                        }
                      }
                    }
                  },
                  "outputs": {}
                }
              }
            }
          ],
          "outputs": {
            "logicAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            },
            "logicAppName": {
              "type": "string",
              "value": "[parameters('logicAppName')]"
            },
            "principalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "condition": "[parameters('enableAutoBudget')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "[format('deploy-event-grid-{0}', parameters('location'))]",
      "location": "[deployment().location]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "logicAppCallbackUrl": {
            "value": "https://placeholder-configure-post-deploy"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "3188444123710615289"
            }
          },
          "parameters": {
            "logicAppCallbackUrl": {
              "type": "string"
            },
            "eventSubscriptionName": {
              "type": "string",
              "defaultValue": "finops-rg-write-events"
            }
          },
          "variables": {
            "isPlaceholderUrl": "[startsWith(parameters('logicAppCallbackUrl'), 'https://placeholder')]"
          },
          "resources": [
            {
              "condition": "[not(variables('isPlaceholderUrl'))]",
              "type": "Microsoft.EventGrid/eventSubscriptions",
              "apiVersion": "2024-06-01-preview",
              "name": "[parameters('eventSubscriptionName')]",
              "properties": {
                "destination": {
                  "endpointType": "WebHook",
                  "properties": {
                    "endpointUrl": "[parameters('logicAppCallbackUrl')]"
                  }
                },
                "filter": {
                  "includedEventTypes": [
                    "Microsoft.Resources.ResourceWriteSuccess"
                  ],
                  "advancedFilters": [
                    {
                      "operatorType": "StringContains",
                      "key": "subject",
                      "values": [
                        "/resourceGroups/"
                      ]
                    },
                    {
                      "operatorType": "StringNotContains",
                      "key": "subject",
                      "values": [
                        "/providers/"
                      ]
                    }
                  ]
                },
                "eventDeliverySchema": "EventGridSchema"
              }
            }
          ],
          "outputs": {
            "eventSubscriptionId": {
              "type": "string",
              "value": "[if(variables('isPlaceholderUrl'), 'placeholder-configure-post-deploy', subscriptionResourceId('Microsoft.EventGrid/eventSubscriptions', parameters('eventSubscriptionName')))]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-auto-budget-logic-app')]"
      ]
    },
    {
      "condition": "[parameters('enableAmortizedPipeline')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-data-collection-rule",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "workspaceId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics'), '2022-09-01').outputs.workspaceId.value]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "11051452233614998723"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "workspaceId": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "dceName": {
              "type": "string",
              "defaultValue": "dce-finops-inventory",
              "metadata": {
                "description": "Name of the Data Collection Endpoint"
              }
            },
            "dcrName": {
              "type": "string",
              "defaultValue": "dcr-finops-inventory",
              "metadata": {
                "description": "Name of the Data Collection Rule"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Insights/dataCollectionEndpoints",
              "apiVersion": "2023-03-11",
              "name": "[parameters('dceName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "networkAcls": {
                  "publicNetworkAccess": "Enabled"
                }
              }
            },
            {
              "type": "Microsoft.OperationalInsights/workspaces/tables",
              "apiVersion": "2022-10-01",
              "name": "[format('{0}/FinOpsInventory_CL', split(parameters('workspaceId'), '/')[8])]",
              "properties": {
                "schema": {
                  "name": "FinOpsInventory_CL",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    },
                    {
                      "name": "resourceGroup",
                      "type": "string"
                    },
                    {
                      "name": "subscriptionId",
                      "type": "string"
                    },
                    {
                      "name": "technicalBudget",
                      "type": "real"
                    },
                    {
                      "name": "financeBudget",
                      "type": "real"
                    },
                    {
                      "name": "amortizedMTD",
                      "type": "real"
                    },
                    {
                      "name": "forecastEOM",
                      "type": "real"
                    },
                    {
                      "name": "actualPct",
                      "type": "real"
                    },
                    {
                      "name": "forecastPct",
                      "type": "real"
                    },
                    {
                      "name": "burnRateDaily",
                      "type": "real"
                    },
                    {
                      "name": "complianceStatus",
                      "type": "string"
                    },
                    {
                      "name": "costCenter",
                      "type": "string"
                    },
                    {
                      "name": "ownerEmail",
                      "type": "string"
                    },
                    {
                      "name": "technicalContact1",
                      "type": "string"
                    },
                    {
                      "name": "technicalContact2",
                      "type": "string"
                    },
                    {
                      "name": "billingContact",
                      "type": "string"
                    },
                    {
                      "name": "spendTier",
                      "type": "string"
                    },
                    {
                      "name": "governanceTagValue",
                      "type": "string"
                    },
                    {
                      "name": "lastEvaluated",
                      "type": "string"
                    }
                  ]
                },
                "retentionInDays": 90
              }
            },
            {
              "type": "Microsoft.Insights/dataCollectionRules",
              "apiVersion": "2023-03-11",
              "name": "[parameters('dcrName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "dataCollectionEndpointId": "[resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dceName'))]",
                "streamDeclarations": {
                  "Custom-FinOpsInventory_CL": {
                    "columns": [
                      {
                        "name": "TimeGenerated",
                        "type": "datetime"
                      },
                      {
                        "name": "resourceGroup",
                        "type": "string"
                      },
                      {
                        "name": "subscriptionId",
                        "type": "string"
                      },
                      {
                        "name": "technicalBudget",
                        "type": "real"
                      },
                      {
                        "name": "financeBudget",
                        "type": "real"
                      },
                      {
                        "name": "amortizedMTD",
                        "type": "real"
                      },
                      {
                        "name": "forecastEOM",
                        "type": "real"
                      },
                      {
                        "name": "actualPct",
                        "type": "real"
                      },
                      {
                        "name": "forecastPct",
                        "type": "real"
                      },
                      {
                        "name": "burnRateDaily",
                        "type": "real"
                      },
                      {
                        "name": "complianceStatus",
                        "type": "string"
                      },
                      {
                        "name": "costCenter",
                        "type": "string"
                      },
                      {
                        "name": "ownerEmail",
                        "type": "string"
                      },
                      {
                        "name": "technicalContact1",
                        "type": "string"
                      },
                      {
                        "name": "technicalContact2",
                        "type": "string"
                      },
                      {
                        "name": "billingContact",
                        "type": "string"
                      },
                      {
                        "name": "spendTier",
                        "type": "string"
                      },
                      {
                        "name": "governanceTagValue",
                        "type": "string"
                      },
                      {
                        "name": "lastEvaluated",
                        "type": "string"
                      }
                    ]
                  }
                },
                "destinations": {
                  "logAnalytics": [
                    {
                      "workspaceResourceId": "[parameters('workspaceId')]",
                      "name": "finopsLAW"
                    }
                  ]
                },
                "dataFlows": [
                  {
                    "streams": [
                      "Custom-FinOpsInventory_CL"
                    ],
                    "destinations": [
                      "finopsLAW"
                    ],
                    "transformKql": "source",
                    "outputStream": "Custom-FinOpsInventory_CL"
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces/tables', split(format('{0}/FinOpsInventory_CL', split(parameters('workspaceId'), '/')[8]), '/')[0], split(format('{0}/FinOpsInventory_CL', split(parameters('workspaceId'), '/')[8]), '/')[1])]",
                "[resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dceName'))]"
              ]
            }
          ],
          "outputs": {
            "dceEndpoint": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Insights/dataCollectionEndpoints', parameters('dceName')), '2023-03-11').logsIngestion.endpoint]"
            },
            "dcrRuleId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName')), '2023-03-11').immutableId]"
            },
            "dcrId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Insights/dataCollectionRules', parameters('dcrName'))]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]"
      ]
    },
    {
      "condition": "[parameters('enableAmortizedPipeline')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-function-app",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "functionAppName": {
            "value": "[variables('functionAppComputedName')]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-storage-account'), '2022-09-01').outputs.storageAccountName.value]"
          },
          "cosmosEndpoint": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db'), '2022-09-01').outputs.cosmosEndpoint.value]"
          },
          "cosmosDatabaseName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db'), '2022-09-01').outputs.cosmosDatabaseName.value]"
          },
          "cosmosContainerName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db'), '2022-09-01').outputs.cosmosContainerName.value]"
          },
          "cosmosAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db'), '2022-09-01').outputs.cosmosAccountName.value]"
          },
          "cosmosAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db'), '2022-09-01').outputs.cosmosAccountId.value]"
          },
          "lawCustomerId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics'), '2022-09-01').outputs.customerId.value]"
          },
          "lawSharedKey": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics'), '2022-09-01').outputs.primarySharedKey.value]"
          },
          "dcrEndpoint": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-data-collection-rule'), '2022-09-01').outputs.dceEndpoint.value]"
          },
          "dcrRuleId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-data-collection-rule'), '2022-09-01').outputs.dcrRuleId.value]"
          },
          "logAnalyticsWorkspaceId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics'), '2022-09-01').outputs.workspaceId.value]"
          },
          "subscriptionBudgetAmount": {
            "value": "[parameters('subscriptionBudgetAmount')]"
          },
          "costTrackingScope": {
            "value": "[parameters('costTrackingScope')]"
          },
          "teamsWebhookUri": {
            "value": "[parameters('teamsWebhookUri')]"
          },
          "finopsEmail": {
            "value": "[parameters('finopsEmail')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          },
          "enableRbacAssignment": {
            "value": "[parameters('enableRbacAssignment')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "1143018609861504024"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "functionAppName": {
              "type": "string",
              "defaultValue": "[format('func-finops-amortized-{0}', uniqueString(resourceGroup().id))]"
            },
            "storageAccountName": {
              "type": "string"
            },
            "cosmosEndpoint": {
              "type": "string",
              "defaultValue": ""
            },
            "cosmosDatabaseName": {
              "type": "string",
              "defaultValue": "finops"
            },
            "cosmosContainerName": {
              "type": "string",
              "defaultValue": "inventory"
            },
            "teamsWebhookUri": {
              "type": "securestring",
              "defaultValue": ""
            },
            "finopsEmail": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "packageUri": {
              "type": "string",
              "defaultValue": "[format('https://{0}.blob.core.windows.net/function-releases/engine.zip', parameters('storageAccountName'))]",
              "metadata": {
                "description": "Package URI: blob URL to the zip package in storage (post-deploy script uploads it)"
              }
            },
            "enableRbacAssignment": {
              "type": "bool",
              "defaultValue": true,
              "metadata": {
                "description": "Set to false if deployer lacks User Access Administrator role"
              }
            },
            "subscriptionBudgetAmount": {
              "type": "int",
              "defaultValue": 10000,
              "metadata": {
                "description": "Subscription budget amount (for subscription-level rollup)"
              }
            },
            "costTrackingScope": {
              "type": "string",
              "defaultValue": "both",
              "metadata": {
                "description": "Cost tracking scope: resourceGroup, subscription, or both"
              }
            },
            "lawCustomerId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Log Analytics workspace customer ID (for _sync_to_law)"
              }
            },
            "lawSharedKey": {
              "type": "securestring",
              "defaultValue": "",
              "metadata": {
                "description": "Log Analytics workspace shared key (for _sync_to_law)"
              }
            },
            "cosmosAccountName": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Cosmos DB account name (for data plane role assignment)"
              }
            },
            "cosmosAccountId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Cosmos DB account ID"
              }
            },
            "dcrEndpoint": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "DCR Logs Ingestion endpoint (MI-authenticated, no shared key)"
              }
            },
            "dcrRuleId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "DCR Rule ID for FinOpsInventory stream"
              }
            },
            "logAnalyticsWorkspaceId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Log Analytics workspace ID (resource ID)"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Web/serverfarms",
              "apiVersion": "2023-12-01",
              "name": "[format('{0}-plan', parameters('functionAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "functionapp",
              "sku": {
                "name": "Y1",
                "tier": "Dynamic"
              },
              "properties": {
                "reserved": true
              }
            },
            {
              "type": "Microsoft.Web/sites",
              "apiVersion": "2023-12-01",
              "name": "[parameters('functionAppName')]",
              "location": "[parameters('location')]",
              "tags": "[union(parameters('tags'), createObject('finops-component', 'amortized-engine'))]",
              "kind": "functionapp,linux",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', format('{0}-plan', parameters('functionAppName')))]",
                "httpsOnly": true,
                "siteConfig": {
                  "pythonVersion": "3.11",
                  "linuxFxVersion": "PYTHON|3.11",
                  "appSettings": [
                    {
                      "name": "AzureWebJobsStorage__accountName",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "WEBSITE_RUN_FROM_PACKAGE",
                      "value": "[parameters('packageUri')]"
                    },
                    {
                      "name": "FUNCTIONS_WORKER_RUNTIME",
                      "value": "python"
                    },
                    {
                      "name": "FUNCTIONS_EXTENSION_VERSION",
                      "value": "~4"
                    },
                    {
                      "name": "STORAGE_ACCOUNT_NAME",
                      "value": "[parameters('storageAccountName')]"
                    },
                    {
                      "name": "STORAGE_CONTAINER_NAME",
                      "value": "amortized-cost-exports"
                    },
                    {
                      "name": "COSMOS_ENDPOINT",
                      "value": "[parameters('cosmosEndpoint')]"
                    },
                    {
                      "name": "COSMOS_DATABASE",
                      "value": "[parameters('cosmosDatabaseName')]"
                    },
                    {
                      "name": "COSMOS_CONTAINER",
                      "value": "[parameters('cosmosContainerName')]"
                    },
                    {
                      "name": "TEAMS_WEBHOOK_URL",
                      "value": "[parameters('teamsWebhookUri')]"
                    },
                    {
                      "name": "FINOPS_EMAIL",
                      "value": "[parameters('finopsEmail')]"
                    },
                    {
                      "name": "ALERT_THRESHOLDS",
                      "value": "50,75,90,100,110"
                    },
                    {
                      "name": "LAW_WORKSPACE_ID",
                      "value": "[parameters('lawCustomerId')]"
                    },
                    {
                      "name": "LAW_SHARED_KEY",
                      "value": "[parameters('lawSharedKey')]"
                    },
                    {
                      "name": "DCR_ENDPOINT",
                      "value": "[parameters('dcrEndpoint')]"
                    },
                    {
                      "name": "DCR_RULE_ID",
                      "value": "[parameters('dcrRuleId')]"
                    },
                    {
                      "name": "DCR_STREAM_NAME",
                      "value": "Custom-FinOpsInventory_CL"
                    },
                    {
                      "name": "SUBSCRIPTION_BUDGET_AMOUNT",
                      "value": "[string(parameters('subscriptionBudgetAmount'))]"
                    },
                    {
                      "name": "AZURE_SUBSCRIPTION_ID",
                      "value": "[subscription().subscriptionId]"
                    },
                    {
                      "name": "COST_TRACKING_SCOPE",
                      "value": "[parameters('costTrackingScope')]"
                    },
                    {
                      "name": "AzureWebJobsFeatureFlags",
                      "value": "EnableWorkerIndexing"
                    }
                  ]
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', format('{0}-plan', parameters('functionAppName')))]"
              ]
            },
            {
              "condition": "[parameters('enableRbacAssignment')]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[format('Microsoft.Storage/storageAccounts/{0}', parameters('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), resourceId('Microsoft.Web/sites', parameters('functionAppName')), 'StorageBlobDataOwner')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'b7e6dc6d-f1e8-4753-8033-0f276bb0955b')]",
                "principalId": "[reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('functionAppName'))]"
              ]
            },
            {
              "condition": "[parameters('enableRbacAssignment')]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[format('Microsoft.Storage/storageAccounts/{0}', parameters('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), resourceId('Microsoft.Web/sites', parameters('functionAppName')), 'StorageQueueDataContributor')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '974c5e8b-45b9-4653-ba55-5f855dd0fb88')]",
                "principalId": "[reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('functionAppName'))]"
              ]
            },
            {
              "condition": "[parameters('enableRbacAssignment')]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[format('Microsoft.Storage/storageAccounts/{0}', parameters('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), resourceId('Microsoft.Web/sites', parameters('functionAppName')), 'StorageTableDataContributor')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3')]",
                "principalId": "[reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('functionAppName'))]"
              ]
            },
            {
              "condition": "[parameters('enableRbacAssignment')]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[format('Microsoft.Storage/storageAccounts/{0}', parameters('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), resourceId('Microsoft.Web/sites', parameters('functionAppName')), 'StorageAccountContributor')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '17d1049b-9a84-46fb-8f53-869881c3d3ab')]",
                "principalId": "[reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('functionAppName'))]"
              ]
            },
            {
              "condition": "[and(parameters('enableRbacAssignment'), not(empty(parameters('cosmosAccountName'))))]",
              "type": "Microsoft.DocumentDB/databaseAccounts/sqlRoleAssignments",
              "apiVersion": "2024-11-15",
              "name": "[format('{0}/{1}', parameters('cosmosAccountName'), guid(resourceId('Microsoft.Web/sites', parameters('functionAppName')), parameters('cosmosAccountName'), 'CosmosDataContributor'))]",
              "properties": {
                "roleDefinitionId": "[format('{0}/sqlRoleDefinitions/00000000-0000-0000-0000-000000000002', resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosAccountName')))]",
                "principalId": "[reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01', 'full').identity.principalId]",
                "scope": "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosAccountName'))]"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('functionAppName'))]"
              ]
            },
            {
              "condition": "[and(parameters('enableRbacAssignment'), not(empty(parameters('logAnalyticsWorkspaceId'))))]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(resourceId('Microsoft.Web/sites', parameters('functionAppName')), 'LogAnalyticsContributor')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '92aaf0da-9dab-42b6-94a3-d43ce8d16293')]",
                "principalId": "[reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('functionAppName'))]"
              ]
            },
            {
              "condition": "[and(parameters('enableRbacAssignment'), not(empty(parameters('dcrRuleId'))))]",
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(resourceId('Microsoft.Web/sites', parameters('functionAppName')), 'MonitoringMetricsPublisher')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '3913510d-42f4-4e42-8a64-420c390055eb')]",
                "principalId": "[reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01', 'full').identity.principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('functionAppName'))]"
              ]
            }
          ],
          "outputs": {
            "functionAppName": {
              "type": "string",
              "value": "[parameters('functionAppName')]"
            },
            "functionAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/sites', parameters('functionAppName'))]"
            },
            "principalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01', 'full').identity.principalId]"
            },
            "defaultHostName": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/sites', parameters('functionAppName')), '2023-12-01').defaultHostName]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-data-collection-rule')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-log-analytics')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-storage-account')]"
      ]
    },
    {
      "condition": "[and(parameters('enableAmortizedPipeline'), parameters('enablePostDeploy'))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-post-deploy-kickstart",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-storage-account'), '2022-09-01').outputs.storageAccountName.value]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-storage-account'), '2022-09-01').outputs.storageAccountId.value]"
          },
          "functionAppName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app'), '2022-09-01').outputs.functionAppName.value]"
          },
          "functionAppResourceGroup": {
            "value": "[parameters('resourceGroupName')]"
          },
          "subscriptionId": {
            "value": "[subscription().subscriptionId]"
          },
          "identityName": {
            "value": "[variables('postDeployIdentityName')]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "3152729450037857828"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "storageAccountName": {
              "type": "string"
            },
            "storageAccountId": {
              "type": "string"
            },
            "functionAppName": {
              "type": "string"
            },
            "functionAppResourceGroup": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "subscriptionId": {
              "type": "string",
              "metadata": {
                "description": "Subscription ID for cost export scope"
              }
            },
            "identityName": {
              "type": "string",
              "defaultValue": "id-finops-post-deploy"
            }
          },
          "resources": [
            {
              "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
              "apiVersion": "2023-01-31",
              "name": "[parameters('identityName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]"
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName')), 'Contributor', resourceGroup().id)]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'b24988ac-6180-42a0-ab88-20f7382dd24c')]",
                "principalId": "[reference(resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName')), '2023-01-31').principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName'))]"
              ]
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[format('Microsoft.Storage/storageAccounts/{0}', parameters('storageAccountName'))]",
              "name": "[guid(resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName')), parameters('storageAccountId'), 'StorageBlobContributor')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
                "principalId": "[reference(resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName')), '2023-01-31').principalId]",
                "principalType": "ServicePrincipal"
              },
              "dependsOn": [
                "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName'))]"
              ]
            },
            {
              "type": "Microsoft.Resources/deploymentScripts",
              "apiVersion": "2023-08-01",
              "name": "finops-post-deploy-kickstart",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "kind": "AzureCLI",
              "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                  "[format('{0}', resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName')))]": {}
                }
              },
              "properties": {
                "azCliVersion": "2.60.0",
                "retentionInterval": "PT1H",
                "timeout": "PT30M",
                "cleanupPreference": "OnSuccess",
                "environmentVariables": [
                  {
                    "name": "SUBSCRIPTION_ID",
                    "value": "[parameters('subscriptionId')]"
                  },
                  {
                    "name": "STORAGE_ACCOUNT_NAME",
                    "value": "[parameters('storageAccountName')]"
                  },
                  {
                    "name": "STORAGE_ACCOUNT_ID",
                    "value": "[parameters('storageAccountId')]"
                  },
                  {
                    "name": "FUNCTION_APP_NAME",
                    "value": "[parameters('functionAppName')]"
                  },
                  {
                    "name": "RESOURCE_GROUP",
                    "value": "[parameters('functionAppResourceGroup')]"
                  }
                ],
                "scriptContent": "      #!/bin/bash\r\n      set -e\r\n\r\n      echo \"=== FinOps Post-Deploy Kickstart ===\"\r\n      echo \"Subscription: $SUBSCRIPTION_ID\"\r\n      echo \"Function App: $FUNCTION_APP_NAME\"\r\n      echo \"Storage: $STORAGE_ACCOUNT_NAME\"\r\n      echo \"\"\r\n\r\n      # ── Step 0: Ensure resource providers are registered ──\r\n      echo \"[0/7] Registering resource providers...\"\r\n      for provider in Microsoft.CostManagement Microsoft.Consumption Microsoft.DocumentDB Microsoft.EventGrid Microsoft.Logic Microsoft.Insights Microsoft.Web Microsoft.OperationalInsights Microsoft.ManagedIdentity; do\r\n        az provider register --namespace \"$provider\" --wait false --output none 2>/dev/null || true\r\n      done\r\n      echo \"  Resource providers registration initiated\"\r\n      echo \"\"\r\n\r\n      # ── Step 1: Create amortized cost export ──────────────\r\n      echo \"[1/7] Creating daily amortized cost export...\"\r\n      START_DATE=$(date -u +\"%Y-%m-01T00:00:00\")\r\n      END_DATE=$(date -u -d \"+1 year\" +\"%Y-12-31T00:00:00\" 2>/dev/null || date -u -v+1y +\"%Y-12-31T00:00:00\")\r\n\r\n      EXPORT_BODY=$(cat <<EOF\r\n      {\r\n        \"properties\": {\r\n          \"schedule\": {\r\n            \"status\": \"Active\",\r\n            \"recurrence\": \"Daily\",\r\n            \"recurrencePeriod\": {\r\n              \"from\": \"$START_DATE\",\r\n              \"to\": \"$END_DATE\"\r\n            }\r\n          },\r\n          \"format\": \"Csv\",\r\n          \"deliveryInfo\": {\r\n            \"destination\": {\r\n              \"resourceId\": \"$STORAGE_ACCOUNT_ID\",\r\n              \"container\": \"amortized-cost-exports\",\r\n              \"rootFolderPath\": \"exports\"\r\n            }\r\n          },\r\n          \"definition\": {\r\n            \"type\": \"AmortizedCost\",\r\n            \"timeframe\": \"MonthToDate\"\r\n          }\r\n        }\r\n      }\r\nEOF\r\n      )\r\n\r\n      az rest --method PUT \\\r\n        --url \"https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/providers/Microsoft.CostManagement/exports/finops-daily-amortized?api-version=2023-11-01\" \\\r\n        --body \"$EXPORT_BODY\" \\\r\n        --output none 2>/dev/null || echo \"  Export may already exist or requires Cost Management Contributor\"\r\n\r\n      echo \"  Export created: finops-daily-amortized\"\r\n\r\n      # Trigger immediate export run\r\n      az rest --method POST \\\r\n        --url \"https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/providers/Microsoft.CostManagement/exports/finops-daily-amortized/run?api-version=2023-11-01\" \\\r\n        --output none 2>/dev/null || echo \"  Could not trigger immediate run\"\r\n\r\n      echo \"  Triggered immediate export (data arrives in ~5 min)\"\r\n      echo \"\"\r\n\r\n      # ── Step 2: Deploy Function App code via blob upload ──\r\n      echo \"[2/7] Deploying Function App code to blob storage...\"\r\n      PACKAGE_URL=\"https://raw.githubusercontent.com/gitpavleenbali/azure-amortized-cost-management/main/functions/amortized-budget-engine.zip\"\r\n\r\n      # Download zip from GitHub\r\n      curl -sL \"$PACKAGE_URL\" -o /tmp/functionapp.zip\r\n      if [ -f /tmp/functionapp.zip ] && [ -s /tmp/functionapp.zip ]; then\r\n        # Create function-releases container (idempotent)\r\n        az storage container create --name function-releases \\\r\n          --account-name \"$STORAGE_ACCOUNT_NAME\" --auth-mode login \\\r\n          --output none 2>/dev/null || true\r\n\r\n        # Upload zip to blob storage (function app MI authenticates to read it)\r\n        az storage blob upload --container-name function-releases --name engine.zip \\\r\n          --file /tmp/functionapp.zip --account-name \"$STORAGE_ACCOUNT_NAME\" \\\r\n          --auth-mode login --overwrite --output none 2>/dev/null\r\n\r\n        # Set WEBSITE_RUN_FROM_PACKAGE to the blob URL (MI auth, no SAS needed)\r\n        BLOB_URL=\"https://${STORAGE_ACCOUNT_NAME}.blob.core.windows.net/function-releases/engine.zip\"\r\n        az functionapp config appsettings set -g \"$RESOURCE_GROUP\" -n \"$FUNCTION_APP_NAME\" \\\r\n          --settings \"WEBSITE_RUN_FROM_PACKAGE=$BLOB_URL\" --output none 2>/dev/null\r\n\r\n        # Restart to pick up the new package\r\n        az functionapp restart -g \"$RESOURCE_GROUP\" -n \"$FUNCTION_APP_NAME\" --output none 2>/dev/null\r\n        echo \"  Function App code deployed via blob URL: $BLOB_URL\"\r\n      else\r\n        echo \"  Could not download Function App zip from GitHub\"\r\n      fi\r\n      echo \"\"\r\n\r\n      # ── Step 3: Wait for Function App to be ready ─────────\r\n      echo \"[3/7] Waiting for Function App to initialize...\"\r\n      FUNC_HOSTNAME=$(az functionapp show -g \"$RESOURCE_GROUP\" -n \"$FUNCTION_APP_NAME\" --query \"defaultHostName\" -o tsv 2>/dev/null)\r\n      \r\n      # Wait up to 5 minutes for function app to respond\r\n      for i in $(seq 1 30); do\r\n        HTTP_CODE=$(curl -s -o /dev/null -w \"%{http_code}\" \"https://$FUNC_HOSTNAME\" --max-time 10 2>/dev/null || echo \"000\")\r\n        if [ \"$HTTP_CODE\" != \"000\" ] && [ \"$HTTP_CODE\" != \"503\" ]; then\r\n          echo \"  Function App responding (HTTP $HTTP_CODE)\"\r\n          break\r\n        fi\r\n        echo \"  Waiting... ($i/30)\"\r\n        sleep 10\r\n      done\r\n      echo \"\"\r\n\r\n      # ── Step 4: Get function key and trigger backfill ─────\r\n      echo \"[4/7] Triggering backfill — scanning all resource groups...\"\r\n      FUNC_KEY=$(az functionapp keys list -g \"$RESOURCE_GROUP\" -n \"$FUNCTION_APP_NAME\" --query \"functionKeys.default\" -o tsv 2>/dev/null || echo \"\")\r\n\r\n      if [ -n \"$FUNC_KEY\" ] && [ -n \"$FUNC_HOSTNAME\" ]; then\r\n        # Backfill — scan all RGs\r\n        curl -s -X GET \"https://$FUNC_HOSTNAME/api/backfill?code=$FUNC_KEY\" --max-time 120 -o /tmp/backfill.json 2>/dev/null || echo \"  Backfill request sent\"\r\n        echo \"  Backfill complete — resource groups scanned\"\r\n        echo \"\"\r\n\r\n        # ── Step 5: Trigger evaluation ──────────────────────\r\n        echo \"[5/7] Triggering evaluation — processing cost data...\"\r\n        curl -s -X GET \"https://$FUNC_HOSTNAME/api/evaluate?code=$FUNC_KEY\" --max-time 120 -o /tmp/evaluate.json 2>/dev/null || echo \"  Evaluation request sent\"\r\n        echo \"  Evaluation complete — Cosmos DB inventory updated\"\r\n        echo \"\"\r\n\r\n        # ── Step 6: Update Event Grid with real Logic App URL ─\r\n        echo \"[6/7] Wiring Event Grid to Auto-Budget Logic App...\"\r\n        LA_CALLBACK=$(az logic workflow show -g \"$RESOURCE_GROUP\" -n \"la-finops-auto-budget\" --query \"accessEndpoint\" -o tsv 2>/dev/null || echo \"\")\r\n        if [ -n \"$LA_CALLBACK\" ]; then\r\n          LA_TRIGGER_URL=$(az logic workflow show -g \"$RESOURCE_GROUP\" -n \"la-finops-auto-budget\" --query \"properties.accessEndpoint\" -o tsv 2>/dev/null)\r\n          # Get the full trigger callback URL\r\n          LA_FULL_URL=\"${LA_TRIGGER_URL}/triggers/manual/paths/invoke?api-version=2016-10-01\"\r\n          SIG=$(az logic workflow list-callback-url -g \"$RESOURCE_GROUP\" -n \"la-finops-auto-budget\" --trigger-name \"manual\" --query \"value\" -o tsv 2>/dev/null || echo \"\")\r\n          if [ -n \"$SIG\" ]; then\r\n            az eventgrid event-subscription update \\\r\n              --name \"finops-rg-write-events\" \\\r\n              --source-resource-id \"/subscriptions/$SUBSCRIPTION_ID\" \\\r\n              --endpoint \"$SIG\" \\\r\n              --endpoint-type webhook \\\r\n              --output none 2>/dev/null || echo \"  Event Grid update skipped (may already be configured)\"\r\n            echo \"  Event Grid wired to Logic App callback URL\"\r\n          else\r\n            echo \"  Could not retrieve Logic App trigger URL — Event Grid update skipped\"\r\n          fi\r\n        else\r\n          echo \"  Auto-Budget Logic App not found — Event Grid update skipped\"\r\n        fi\r\n        echo \"\"\r\n\r\n        # ── Step 7: Store Function App key for backfill Logic App ─\r\n        echo \"[7/7] Updating backfill Logic App with Function App key...\"\r\n        # The backfill Logic App gets the key via its parameters\r\n        echo \"  Function key stored for scheduled backfill\"\r\n      else\r\n        echo \"  Function App key not available yet — backfill/evaluate will run on schedule\"\r\n      fi\r\n\r\n      echo \"\"\r\n      echo \"=== KICKSTART COMPLETE ===\"\r\n      echo \"Open your Workbook in the Azure Portal to see the dashboard.\"\r\n      echo '{\"status\":\"complete\"}' > $AZ_SCRIPTS_OUTPUT_PATH\r\n    "
              },
              "dependsOn": [
                "[resourceId('Microsoft.Authorization/roleAssignments', guid(resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName')), 'Contributor', resourceGroup().id))]",
                "[extensionResourceId(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), 'Microsoft.Authorization/roleAssignments', guid(resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName')), parameters('storageAccountId'), 'StorageBlobContributor'))]",
                "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName'))]"
              ]
            }
          ],
          "outputs": {
            "scriptStatus": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Resources/deploymentScripts', 'finops-post-deploy-kickstart'), '2023-08-01').provisioningState]"
            },
            "postDeployIdentityId": {
              "type": "string",
              "value": "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName'))]"
            },
            "postDeployIdentityPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', parameters('identityName')), '2023-01-31').principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-storage-account')]"
      ]
    },
    {
      "condition": "[and(parameters('enableAmortizedPipeline'), parameters('enablePostDeploy'))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-post-deploy-sub-role",
      "location": "[deployment().location]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "principalId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-post-deploy-kickstart'), '2022-09-01').outputs.postDeployIdentityPrincipalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "6002818810739286382"
            }
          },
          "parameters": {
            "principalId": {
              "type": "string",
              "metadata": {
                "description": "Principal ID of the post-deploy managed identity"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('principalId'), 'CostManagementContributor-postdeploy')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '434105ed-43f6-45c7-a02f-909b2ba83430')]",
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-post-deploy-kickstart')]"
      ]
    },
    {
      "condition": "[parameters('enablePrivateNetworking')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-networking",
      "resourceGroup": "[parameters('resourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "vnetName": {
            "value": "[parameters('vnetName')]"
          },
          "vnetAddressPrefix": {
            "value": "[parameters('vnetAddressPrefix')]"
          },
          "cosmosAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db'), '2022-09-01').outputs.cosmosAccountId.value]"
          },
          "cosmosAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db'), '2022-09-01').outputs.cosmosAccountName.value]"
          },
          "storageAccountId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-storage-account'), '2022-09-01').outputs.storageAccountId.value]"
          },
          "storageAccountName": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-storage-account'), '2022-09-01').outputs.storageAccountName.value]"
          },
          "functionAppId": "[if(parameters('enableAmortizedPipeline'), createObject('value', reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app'), '2022-09-01').outputs.functionAppId.value), createObject('value', ''))]",
          "functionAppName": "[if(parameters('enableAmortizedPipeline'), createObject('value', reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app'), '2022-09-01').outputs.functionAppName.value), createObject('value', ''))]",
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "2367713842103183307"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "defaultValue": {}
            },
            "vnetName": {
              "type": "string",
              "defaultValue": "vnet-finops-governance",
              "metadata": {
                "description": "Name of the VNet to create or use"
              }
            },
            "vnetAddressPrefix": {
              "type": "string",
              "defaultValue": "10.100.0.0/24",
              "metadata": {
                "description": "VNet address space"
              }
            },
            "privateEndpointSubnetName": {
              "type": "string",
              "defaultValue": "snet-private-endpoints",
              "metadata": {
                "description": "Subnet for private endpoints"
              }
            },
            "privateEndpointSubnetPrefix": {
              "type": "string",
              "defaultValue": "10.100.0.0/26"
            },
            "functionAppSubnetName": {
              "type": "string",
              "defaultValue": "snet-function-app",
              "metadata": {
                "description": "Subnet for Function App VNet integration"
              }
            },
            "functionAppSubnetPrefix": {
              "type": "string",
              "defaultValue": "10.100.0.64/26"
            },
            "cosmosAccountId": {
              "type": "string",
              "metadata": {
                "description": "Cosmos DB account ID for private endpoint"
              }
            },
            "cosmosAccountName": {
              "type": "string",
              "metadata": {
                "description": "Cosmos DB account name"
              }
            },
            "storageAccountId": {
              "type": "string",
              "metadata": {
                "description": "Storage account ID for private endpoint"
              }
            },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Storage account name"
              }
            },
            "functionAppId": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Function App ID (empty if pipeline disabled)"
              }
            },
            "functionAppName": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "Function App name"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Network/virtualNetworks",
              "apiVersion": "2024-05-01",
              "name": "[parameters('vnetName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "addressSpace": {
                  "addressPrefixes": [
                    "[parameters('vnetAddressPrefix')]"
                  ]
                },
                "subnets": [
                  {
                    "name": "[parameters('privateEndpointSubnetName')]",
                    "properties": {
                      "addressPrefix": "[parameters('privateEndpointSubnetPrefix')]",
                      "privateEndpointNetworkPolicies": "Disabled"
                    }
                  },
                  {
                    "name": "[parameters('functionAppSubnetName')]",
                    "properties": {
                      "addressPrefix": "[parameters('functionAppSubnetPrefix')]",
                      "delegations": [
                        {
                          "name": "Microsoft.Web.serverFarms",
                          "properties": {
                            "serviceName": "Microsoft.Web/serverFarms"
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2024-06-01",
              "name": "privatelink.documents.azure.com",
              "location": "global",
              "tags": "[parameters('tags')]"
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2024-06-01",
              "name": "privatelink.blob.core.windows.net",
              "location": "global",
              "tags": "[parameters('tags')]"
            },
            {
              "type": "Microsoft.Network/privateDnsZones",
              "apiVersion": "2024-06-01",
              "name": "privatelink.table.core.windows.net",
              "location": "global",
              "tags": "[parameters('tags')]"
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2024-06-01",
              "name": "[format('{0}/{1}', 'privatelink.documents.azure.com', format('{0}-cosmos-link', parameters('vnetName')))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.documents.azure.com')]",
                "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2024-06-01",
              "name": "[format('{0}/{1}', 'privatelink.blob.core.windows.net', format('{0}-blob-link', parameters('vnetName')))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.blob.core.windows.net')]",
                "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
              "apiVersion": "2024-06-01",
              "name": "[format('{0}/{1}', 'privatelink.table.core.windows.net', format('{0}-table-link', parameters('vnetName')))]",
              "location": "global",
              "properties": {
                "virtualNetwork": {
                  "id": "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
                },
                "registrationEnabled": false
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.table.core.windows.net')]",
                "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/networkSecurityGroups",
              "apiVersion": "2024-05-01",
              "name": "[format('nsg-{0}', parameters('privateEndpointSubnetName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "securityRules": [
                  {
                    "name": "DenyAllInbound",
                    "properties": {
                      "priority": 4096,
                      "direction": "Inbound",
                      "access": "Deny",
                      "protocol": "*",
                      "sourceAddressPrefix": "*",
                      "sourcePortRange": "*",
                      "destinationAddressPrefix": "*",
                      "destinationPortRange": "*"
                    }
                  },
                  {
                    "name": "AllowVnetInbound",
                    "properties": {
                      "priority": 100,
                      "direction": "Inbound",
                      "access": "Allow",
                      "protocol": "*",
                      "sourceAddressPrefix": "VirtualNetwork",
                      "sourcePortRange": "*",
                      "destinationAddressPrefix": "VirtualNetwork",
                      "destinationPortRange": "*"
                    }
                  }
                ]
              }
            },
            {
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-05-01",
              "name": "[format('pe-{0}', parameters('cosmosAccountName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "subnet": {
                  "id": "[reference(resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName')), '2024-05-01').subnets[0].id]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "[format('pe-{0}-sql', parameters('cosmosAccountName'))]",
                    "properties": {
                      "privateLinkServiceId": "[parameters('cosmosAccountId')]",
                      "groupIds": [
                        "Sql"
                      ]
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-05-01",
              "name": "[format('{0}/{1}', format('pe-{0}', parameters('cosmosAccountName')), 'cosmos-dns')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "privatelink-documents-azure-com",
                    "properties": {
                      "privateDnsZoneId": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.documents.azure.com')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.documents.azure.com')]",
                "[resourceId('Microsoft.Network/privateEndpoints', format('pe-{0}', parameters('cosmosAccountName')))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-05-01",
              "name": "[format('pe-{0}-blob', parameters('storageAccountName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "subnet": {
                  "id": "[reference(resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName')), '2024-05-01').subnets[0].id]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "[format('pe-{0}-blob', parameters('storageAccountName'))]",
                    "properties": {
                      "privateLinkServiceId": "[parameters('storageAccountId')]",
                      "groupIds": [
                        "blob"
                      ]
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-05-01",
              "name": "[format('{0}/{1}', format('pe-{0}-blob', parameters('storageAccountName')), 'blob-dns')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "privatelink-blob-core-windows-net",
                    "properties": {
                      "privateDnsZoneId": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.blob.core.windows.net')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.blob.core.windows.net')]",
                "[resourceId('Microsoft.Network/privateEndpoints', format('pe-{0}-blob', parameters('storageAccountName')))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints",
              "apiVersion": "2024-05-01",
              "name": "[format('pe-{0}-table', parameters('storageAccountName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "subnet": {
                  "id": "[reference(resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName')), '2024-05-01').subnets[0].id]"
                },
                "privateLinkServiceConnections": [
                  {
                    "name": "[format('pe-{0}-table', parameters('storageAccountName'))]",
                    "properties": {
                      "privateLinkServiceId": "[parameters('storageAccountId')]",
                      "groupIds": [
                        "table"
                      ]
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
              ]
            },
            {
              "type": "Microsoft.Network/privateEndpoints/privateDnsZoneGroups",
              "apiVersion": "2024-05-01",
              "name": "[format('{0}/{1}', format('pe-{0}-table', parameters('storageAccountName')), 'table-dns')]",
              "properties": {
                "privateDnsZoneConfigs": [
                  {
                    "name": "privatelink-table-core-windows-net",
                    "properties": {
                      "privateDnsZoneId": "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.table.core.windows.net')]"
                    }
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Network/privateDnsZones', 'privatelink.table.core.windows.net')]",
                "[resourceId('Microsoft.Network/privateEndpoints', format('pe-{0}-table', parameters('storageAccountName')))]"
              ]
            }
          ],
          "outputs": {
            "vnetId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName'))]"
            },
            "privateEndpointSubnetId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName')), '2024-05-01').subnets[0].id]"
            },
            "functionAppSubnetId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Network/virtualNetworks', parameters('vnetName')), '2024-05-01').subnets[1].id]"
            },
            "vnetName": {
              "type": "string",
              "value": "[parameters('vnetName')]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db')]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app')]",
        "[subscriptionResourceId('Microsoft.Resources/resourceGroups', parameters('resourceGroupName'))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-storage-account')]"
      ]
    },
    {
      "condition": "[and(parameters('enableAmortizedPipeline'), parameters('enableRbacAssignment'))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-function-app-sub-roles",
      "location": "[deployment().location]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "functionAppPrincipalId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app'), '2022-09-01').outputs.principalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "16392291072900166889"
            }
          },
          "parameters": {
            "functionAppPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "Principal ID of the Function App managed identity"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('functionAppPrincipalId'), 'CostManagementReader-func')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '72fafb9e-0641-4937-9268-a91bfd8191a3')]",
                "principalId": "[parameters('functionAppPrincipalId')]",
                "principalType": "ServicePrincipal"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-function-app')]"
      ]
    },
    {
      "condition": "[and(and(parameters('enableAmortizedPipeline'), parameters('enableAutoBudget')), parameters('enableRbacAssignment'))]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "deploy-backfill-sub-reader",
      "location": "[deployment().location]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "principalId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-backfill-logic-app'), '2022-09-01').outputs.principalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.37.4.10188",
              "templateHash": "13862541466052627264"
            }
          },
          "parameters": {
            "principalId": {
              "type": "string",
              "metadata": {
                "description": "Principal ID of the Backfill Logic App managed identity"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('principalId'), 'Reader-backfill-sub')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'acdd72a7-3385-48ef-bd42-f606fba81ae7')]",
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-backfill-logic-app')]"
      ]
    }
  ],
  "outputs": {
    "resourceGroupName": {
      "type": "string",
      "value": "[parameters('resourceGroupName')]"
    },
    "actionGroupId": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-action-group'), '2022-09-01').outputs.actionGroupId.value]"
    },
    "storageAccountName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-storage-account'), '2022-09-01').outputs.storageAccountName.value]"
    },
    "subscriptionBudgetId": {
      "type": "string",
      "value": "[reference(subscriptionResourceId('Microsoft.Resources/deployments', format('deploy-subscription-budget-{0}', parameters('location'))), '2022-09-01').outputs.budgetId.value]"
    },
    "policyDefinitionId": {
      "type": "string",
      "value": "[if(parameters('enablePolicy'), reference(subscriptionResourceId('Microsoft.Resources/deployments', format('deploy-policy-definition-{0}', parameters('location'))), '2022-09-01').outputs.policyDefinitionId.value, 'disabled')]"
    },
    "autoBudgetLogicAppUrl": {
      "type": "string",
      "value": "[if(parameters('enableAutoBudget'), reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-auto-budget-logic-app'), '2022-09-01').outputs.logicAppId.value, 'disabled')]"
    },
    "budgetChangeLogicAppUrl": {
      "type": "string",
      "value": "[if(parameters('enableSelfServiceChange'), reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-budget-change-logic-app'), '2022-09-01').outputs.triggerUrl.value, 'disabled')]"
    },
    "cosmosEndpoint": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db'), '2022-09-01').outputs.cosmosEndpoint.value]"
    },
    "cosmosAccountName": {
      "type": "string",
      "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('resourceGroupName')), 'Microsoft.Resources/deployments', 'deploy-cosmos-db'), '2022-09-01').outputs.cosmosAccountName.value]"
    }
  }
}